.mini_help
  %h4
    Roles

  %table.table.table-condensed
    %tbody
      %tr
        %td
          .tag.admin
            Admin
        %td
          All Privileges
      %tr
        %td
          .tag.support
            Support
        %td
          Support Worker
      %tr
        %td
          .tag.trusted
            Trusted
        %td
          Search reports
      %tr
        %td
          .tag.registered
            Registered
        %td
          Confirmed email
      %tr
        %td
          .tag.guest
            Guest
        %td
          Unconfirmed email
      %tr
        %td
          .tag.rejected
            Rejected
        %td
          Registration denied
      %tr
        %td
          .tag.banned
            Banned
        %td
          Banned from site
