.mini_help
  %p
    %strong
      Identifiers
    are used to define the identifiable characteristics of
    vehicles and people.

  %p
    There are two main properties that describe these records:

  %ul
    %li
      %strong "code"
      is used to match these to elements on the report form and must match exactly.
    %li
      %strong "label"
      is a description that can be edited to suit preferences for presentation.

  %p
    There are also several ways these can be applied:

  %ul
    %li
      .tag.required
        Required
      Required by the structure of the form. Can't be deleted. Edits are limited.
    %li
      .tag.internal
        Internal
      Not visible to site members, but used to retain any associated data.
    %li
      .tag.published
        Published
      These are active and visible to site members when making reports.
